<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <section class="well">
      <div class="main-header">
        <h2>Account</h2>
        <h4>Change your account settings</h4>
      </div>
      <div class="main-edit-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label "Name:", class: "col-sm-3 control-label" %>
              <div class="col-sm-6">
               <%= f.text_field :name, class: "form-control" %>
              </div>
          </div>

        <div class="form-group">
          <%= f.label "Email:", class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
      <h4 class="change-password">Change Password</h4>

      <div class="form-group">
        <%= f.label "Current Password:", class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "New Password:", class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
         <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Confirm Password:", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.submit "Save changes", class: "form-control btn btn-success" %>
    </div>
  </div>
  </div>
  <% end %>

  <h4 class="danger-zone">Danger Zone!</h4>
  <div class=" delete-button form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= button_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "form-control btn btn-danger" %>
    </div>
    </div>
</section>
</div>
</div>




