<div class="main-change-password">
<h3>Change Password</h3>
<div class="form-group">
  <%= f.label "Current Password:", class: "col-sm-3 control-label" %>
  <div class="col-sm-6">
    <%= f.password_field :current_password, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label "New Password:", class: "col-sm-3 control-label" %>
  <div class="col-sm-6">
    <%= f.password_field :password, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label "Confirm Password:", class: "col-sm-3 control-label" %>
  <div class="col-sm-6">
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>
</div>