<div class="row">
	<div class=" filters col-sm-4 col-sm-offset-4">
		<div class="btn-group btn-group-justified">
  			<a href="#" class="btn btn-info">Upcoming Events</a>
  			<a href="#" class="btn btn-info">Past Events</a>
		</div>
	</div>

</div>
	
<div class="event-index row">
	<div class="col-sm-6 col-sm-offset-3">
		<% @events.each do |event| %>
			<a href="<%= event_path(event.id)%>">
			<section class="event-box">
				<div class="event-heading">
					<h4><%= event.title.capitalize %></h4>
				</div>
				</a>
				<div class="event-content">
					<p><%= event.description %></p>
					<ul>
						<li>
							<i class="icon fa fa-map-marker"></i><span><%= event.location %></span>
						</li>
						<li>
							<i class="icon fa fa-calendar-o"></i><span><%= "#{format_date(event.eventDate)} at #{format_time(event.startTime)}"%> </span>
						</li>
					</ul>
				</div>
			</section>
		<% end %>		
	</div>
</div>